:root {
  --orange-color: #ff6b00;
  --white-color: #f4f5f7;
  --grey-white: #fff;
  --greyish-white: #fff5e1;
  --clear-blue: #6070ff;
  --dark-blue: #172b4d;
  --light-blue: #344563;
  --lighter-blue: #7f8cff;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.overflow {
  overflow: hidden;
}

.navbar {
  background-color: var(--grey-white);
  width: 100%;
  height: 10vh;
  padding: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  box-shadow: 0 1.3rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.nav_list li {
  display: none;
  list-style: none;
}

.nav_toggle {
  position: absolute;
  display: flex;
  right: 0;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 2rem;
  width: 1.5rem;
  z-index: 1001;
}

.nav_toggle a {
  width: 1.5rem;
  color: var(--clear-blue);
}

.ri-close-line {
  display: none;
  color: var(--grey-white);
}

.ri-menu-line {
  margin-top: 0.2rem;
  color: var(--clear-blue);
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--grey-white);
  width: 4.3rem;
  height: 1.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: auto;
}

.logo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Headline section */
.top_headline {
  height: 100%;
  background: url('./assets/images/header-shapes\ mobile@2x.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 8rem;
  margin-bottom: 12.8rem;
  padding-bottom: 2rem;
}

.headline_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.primary-text {
  color: var(--dark-blue);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 14rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.secondary_text {
  color: var(--light-blue);
  padding-bottom: 1.2rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
}

.social_media {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tertiary-text {
  color: var(--lighter-blue);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.socialmedia-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.socialmedia-icons i {
  list-style: none;
}

/* Headline section */

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 2rem;
}

.gridcontainer {
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
}

.snapshot {
  margin: 2rem;
}

.snapshot img {
  width: 18.4rem;
  height: 13.7rem;
}

.grid-items {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.snapshot-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #344563;
  padding-top: 0.5rem;
}

.snapshot-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--light-blue);
  padding: 1rem, 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content2 li {
  background-color: #ebebff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  margin-bottom: 0.5rem;
}

.btn {
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  width: 7.8rem;
  height: 3rem;
}

/* about section */
.about-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.minicontainers {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2rem;
}

.about1 {
  border: 1px solid red;
}

.about2 {
  border: 1px solid blueviolet;
}

.main_containers {
  height: 100%;
}

.about-primary-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-top: 6rem;
  color: #172b4d;
}

.about-secondary-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 12rem;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.skills-primary-text {
  width: 100%;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.dropdown {
  width: 2.5rem;
  height: 2.4rem;
  color: #acb7c3;
  margin-right: 1.9rem;
}

.language-components {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

.language-components li p {
  color: #258582;
  font-size: 1.5rem;
  font-weight: 600;
}

.logos {
  width: 4.3rem;
  height: 4.6rem;
  list-style: none;
}

.javacriptlogo {
  border-radius: 4rem;
}
